<!DOCTYPE html>
<html lang="en">

{{{head}}}

<body>
{{{header}}}
<div class="container-fluid page-container">   
        <div class="row content">
          <div class="col-sm-12 text-left"> 
             <br>
                {{#rows}}
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><a href="/code/{{id}}">{{title}}{{^title}}#{{id}}{{/title}}</a> {{#owner}}by {{/owner}}{{owner}}</div>
                        <div class="panel-body" >
                            <pre style="overflow:hidden; max-height:10.5em; border: 0; background-color: transparent;">{{text}}</pre>
                            <hr>
                            <a class="btn btn-info" href="/code/{{id}}" role="button">View</a>
                            <a class="btn btn-info" href="/code/{{id}}/edit" role="button">Edit</a>
                            <a class="btn btn-danger" href="/code/{{id}}/remove">Remove</a>
                        </div>
                    </div>
                    </div>
                {{/rows}}
            </div>
    </div>
</div>
{{{footer}}}
</body>