<!DOCTYPE html>
<html lang="en">

{{{head}}}

<body>
    {{{header}}}
    
    <div class="container">
        <br>
        <div class="row content">
                {{#rows}}
                    <div class="col-sm-12 text-left">
                        <h1 id="title">
                            <a href="/code/{{_id}}">{{title}}</a>
                            <span style="color:lightgray;font-size: 0.5em">{{#author}}by {{.}}{{/author}}</span>
                            <a class="btn btn-secondary" href="/code/edit/{{_id}}" role="button">Edit</a>
                            <a class="btn btn-secondary" href="/code/remove/{{_id}}" role="button">Remove</a>
                        </h1>
                        <pre class="minimized-code" style="background-color: #f0f0f0;">
                            <code>{{content}}</code>
                            <div class="minimized-code-fadout"></div>
                        </pre>
                        
                    </div>
                 {{/rows}}
        </div>
    </div>
    {{{footer}}}
</body>