<!DOCTYPE html>
<html lang="en">

{{{head}}}

<body>
    {{{header}}}
    
    <div class="container">
        <br>
        <div class="row content">
                {{#rows}}
                    <div class="panel panel-default card col-sm-12 text-left" style="margin-bottom:1em; padding:15px;">
                        <h2 id="title">
                            <a href="/code/{{_id}}">{{title}}</a>
                            <span style="color:lightgray;font-size: 0.5em">{{#author}}by {{.}}{{/author}}</span>
                            <div class="float-right">
                                <a class="btn btn-secondary" href="/code/edit/{{_id}}" role="button">Edit</a>
                                <a class="btn btn-secondary" href="/code/remove/{{_id}}" role="button">Remove</a>
                            </div>
                        </h1>
                        <pre class="minimized-code" style="background-color: #f0f0f0; width:100%;">
                            <code>{{content}}</code><div class="minimized-code-fadout"></div>
                        </pre>
                        {{#language}}<p>language: <a href="/code/search/{{language}}">{{.}}</a></p>{{/language}}
                        <p id="tags-text" class="d-none">{{tags}}</p>
                        <p id="tags-container">
                            <span id="tag-prototype" class="badge badge-pill badge-primary d-none">#new</span>
                        </p>
                    </div>
                 {{/rows}}
        </div>
    </div>
    {{{footer}}}
</body>