<!DOCTYPE html>
<html lang="en">

{{{header}}}

<body>
    {{{head}}}
    <div class="container-fluid page-container">
        <div class="row content">
            <div class="col-sm-12 text-left">
                <form id="editForm" role="form" style="padding-top:1em;" action="" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="title" id="title-input" placeholder="Title" value="{{title}}">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control auto-expand code-input" rows='20' data-min-rows='20' autofocus name="text" id="text-input" placeholder='Your code...'>{{content}}</textarea>
                    </div>
                    <div class="form-group">
                        <select name="language" id="language-dropdown" class="form-control">
                            <option id="dropdown-item-prototype" class="d-none"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tags" id="tags-input" placeholder="Tags..." value="{{tags}}">
                    </div>
                    <div class="form-group">
                        <p id="tags-container">
                            <span id="tag-prototype" class="badge badge-pill badge-primary d-none">#new</span>
                        </p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button> 
                        {{#_id}}
                        <a class="btn btn-danger" href="/code/remove/{{id}}" role="button">Delete</a>
                        {{/_id}}
                    </div>
                </form>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $(function() {
                function updateTags() {
                    var tags = $("#tags-input").val().split(/(#[a-zA-Z0-9]+) ?/);
                    $("#tags-container>*:not(#tag-prototype)").remove();

                    for (var t of tags) {
                        if (t.match(/(#[a-zA-Z0-9]+)/)) {
                            $("#tag-prototype").clone()
                                .appendTo("#tags-container")
                                .removeClass("d-none")
                                .attr("id", null)
                                .html(t)
                                .after(" ");
                        }
                    }
                }
                $("#tags-input").keyup(updateTags);
                updateTags();
                for (var l of ["autodetect", "other/none"].concat(hljs.listLanguages())) {
                    $("#dropdown-item-prototype").clone()
                        .appendTo("#language-dropdown")
                        .removeClass("d-none")
                        .attr("id", null)
                        .html(l)
                        .click(function(){
                            $("#language-dropdown>#dropdownMenuButton").html($(this).html());
                        });
                }
                $("#language-dropdown").val("autodetect")
            });
        </script>
        {{{footer}}}
</body>