<!DOCTYPE html>
<html lang="en">

{{{head}}}

<body>
{{{header}}}
<div class="container-fluid page-container">   
    <br>
        <div class="row content">
                {{#rows}}
                <div class="col-sm-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <a href="/users/{{_id}}">{{username}}</a>
                            <p>10 posts</p>
                        </div>
                    </div>
                </div>
                {{/rows}}
    </div>
</div>
{{{footer}}}
</body>