<!DOCTYPE html>
<html lang="en">

{{{head}}}

<body>
{{{header}}}
<div class="container-fluid page-container">   
    <div class="row content">
      <div class="col-sm-12 text-left"> 
        <h1 id="title">{{title}} <span style="color:lightgray;font-size: 0.5em">{{#owner}}by {{.}}{{/owner}}</span></h1>
        <pre style="background-color: #f0f0f0;"><code>{{text}}</code></pre>
        <a class="btn btn-info" href="/code/{{id}}/edit" role="button">Edit</a>
        </div>
    </div>
</div>
{{{footer}}}
</body>